html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 0;
  font-size: 16px;
  color: #202020;
  background-color: #fbfbfb;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

/* DROPDOWN
============================================= */

.dd-wrapper {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
}
.dd-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.dd-header__title--bold {
  font-weight: bold;
}

.dd-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075rem);
  padding: 0;
  margin: 0;
  width: 100%;
}
.dd-list li {
  list-style-type: none;
}
.dd-list button {
  border: 1px solid #ccc;

  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  padding: 15px 20px 15px 20px;

  width: 100%;
  text-align: left;
}
.dd-list button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}
.dd-list button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}
